body{
  text-align: center;
}


#landing {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#centered-heading {
    font-family: neue-haas-unica,sans-serif;
    height: 10vh;
    text-align: center;
    color: black;
}

{margin:0;padding:0;box-sizing:border-box;font-size:0;}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    }
    nav li, h3{
    display:inline-block;
    width:20%;
    padding:5px 5px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    text-align: center;
    }
